@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: "Poppins", sans-serif;
}

h1, h2 {
  font-family: "Fredoka", sans-serif;
}

.container {
  width: 500px;
  margin: 25px 0;
  padding: 25px;
  border: 2px solid #a95ac7;
  border-radius: 15px;
  background-color: rgba(255, 200, 240, 0.9);
}

.titulo {
  margin-bottom: 20px;
  color: #fe32a2;
  font-size: 28px;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  text-align: left;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #141314;
  font-weight: bold;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6a1cc;
  border-radius: 8px;
  background-color: #fff8fc;
  color: #44213f;
  font-size: 16px;
}

.textarea {
  height: 92px;
}

.button {
  padding: 12px;
  border: 0;
  border-radius: 8px;
  background-color: #f36ca9;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #dc4f91;
}

.message {
  margin-top: 15px;
  color: rgb(19, 19, 19);
  font-weight: bold;
}

@media (max-width: 700px) {
  .formulario {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .grade {
    grid-template-columns: 1fr;
  }
}